nav {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(193, 232, 53);
}
ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
#logo{
    width: 100px;
    padding: 5px;
}


#cart-img{
    width: 30px;
    align-self: flex-start;
    margin-right: 20px;
}
#cart-option{
    visibility: hidden;
    align-self: flex-start;
    position: relative;
}
#itemsInCart{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    right: 5px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#menu-option{
    visibility: hidden;
}