.itemInOrder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
    justify-content: space-between;
    margin: 10px;
}
#cartItemsList{
    display: flex;
    flex-direction: column;
}
#orderdetails{
    margin-right:50px;
    align-self: flex-end;
}
#orders-history{
    background-color: rgb(150, 136, 136);
}

table{
    width: 550px;
}
th, td{
    border: 1px solid black;
}